version: '3'
name: 'fluxsales'

services:
  backend:
    image: backend-fluxsales
    ports:
      - "3000:3000"
    networks:
      - fluxsales
  
  rabbitmq:
    container_name: ads_rabbitmq
    image: rabbitmq:3.12-management
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: 123
    ports:
      - 15672:15672
      - 5672:5672
    networks:
      - fluxsales
