version: '3'
name: 'fluxsales'

services:
  backend-fluxsales:
    container_name: backend-fluxsales
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./backend-fluxsales:/home/node/main
    ports:
      - "3000:3000"
    command: npm run start
    networks:
      - fluxsales

  # keycloak-fluxsales:
  #   container_name: keycloak-fluxsales
  #   image: quay.io/keycloak/keycloak:latest
  #   restart: unless-stopped
  #   environment:
  #     - KEYCLOAK_USER=admin
  #     - KEYCLOAK_PASSWORD=admin
  #   volumes:
  #     - ./.docker/keycloak/data/import:/opt/keycloak/data/import
  #   command: start-dev
  #   ports:
  #     - "8080:8080"
  #   networks:
  #     - fluxsales

  # rabbitmq:
  #   image: rabbitmq:3.8.25-management-alpine
  #   container_name: rabbitmq-fluxsales
  #   ports:
  #       - 5672:5672
  #       - 15672:15672
  #   environment:
  #     - RABBITMQ_DEFAULT_USER=root
  #     - RABBITMQ_DEFAULT_PASS=1234
  #   depends_on:
  #     - backend-fluxsales
  #   networks:
  #     - fluxsales

networks:
  fluxsales:
    name: fluxsales
    driver: bridge